.canvas{
    text-align: center;

}

.button{
    height: 100px;
    width: 100px;
    border: solid black 2px;
    display: inline-block;
}
#grey{
    background-color: gray;
}
#white{
    background-color: white;
}
#blue{
    background-color: blue;
}
#yellow{
    background-color: yellow
}
